* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #1a2c62;
}

body {
    background-color: rgb(7, 18, 53);
}

main {
    position: fixed;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

#switchtoAdmin {
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px;
    background-color: #ffaa00;
    width: 200px;
    border-radius: 0 0 12px 0;
    font-size: 18px
}

#switchtoAdmin:hover {
    cursor: pointer;
    background-color: #e2e6f5;
    color:#1a2c62;
}

main h1 {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    color: #ffffff;
}

main h2 {
    text-align: center;
    font-weight: 100;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
}

main h2 .greenText {
    color: #ffaa00;
    font-weight: 700;
}

main h3 {
    text-align: center;
    color: #1a2c62;
    font-size: 30px;
}

main h4 {
    text-align: left;
    color: #1a2c62;
    font-size: 22px;
    margin-top: 10px;
}

.infoSection {
    width: calc(100% - 40px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 110px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #ffaa00;
    background-color: #e2e6f5;
    border-radius: 20px;
    overflow-y: auto;
}

.infoSection.overlay {
    width: 50%;
    margin: 0 auto;
    bottom: auto;
    top: 140px;
}

.infoSection button {
    width: 250px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    background-color: #1a2c62;
    border-radius: 15px;
    margin: 10px auto;
    margin-top: 10px;
    display: block;
    color: #ffffff;
}

.infoSection button:hover {
    background-color: #ffaa00;
    color: #1a2c62
}

#transactionTime {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color:#1a2c62;
    font-size: 13px;
}