#searchBarContainer {
    min-width: 270px;
    margin: 5px auto;
    width: 50%;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid #ffffff;
    padding: 6px 15px;
}

#searchBarContainer:focus-within {
    border-color: #ffaa00;
}

#search-icon {
    width: 20px;
    fill: #ffaa00;
}

#searchBarContainer input {
    width: calc(100% - 132px);
    font-size: 18px;
    padding-left: 7px;
    border: none;
}

#searchBarContainer input:focus {
    border: none;
    outline: none;
    color:#1a2c62;
}

#searchBarContainer select {
    background-color: transparent;
    width: 105px;
    height: 21.5px;
}